  <div class="container">
    <div class="col s12 m7">
      <h2 class="header">Dish Information</h2>
            <div class="card horizontal card small">
        <div class="card-image">
            <img class="img d-block img-fluid" src="../img/fotos comida/noddles.jpeg" alt="taco">
        </div>
        <div class="card-stacked">
            <div class="card-content #f1f8e9 #f5f5f5 grey lighten-4 ">
                <p>Enter the information about the a specific dish</p>
            </div>
            <div class="card-action">
              <a href="/newPlace">Add a new restaurant</a>
             <a href="/all">Go to Restaurant list</a>
            </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12">
          <div class="card #f5f5f5 grey lighten-4">
              <br></br> 
            <div class="card-body">
              <form role="form"></form>
              <div class="form-group">
                  <label for="name">Name of the dish</label>
                  <input type="text" class="form-control" id="name">
                </div>

              <div class="form-group">
                  <label for="image-url">Paste dish image url</label>
                  <input type="text" class="form-control" id="image-url">
              </div>

              <div class="form-group">
                <label for="place"> What place does this dish belong to? </label>
                <select class="browser-default" id="place-id">
                  {{#each places}}
                    <option value={{this.id}}>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <button type="submit" class="submitDish btn btn-outline-warning">Submit</button>
             <br></br>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">

    $(".submitDish").on("click", function (event) {
      event.preventDefault();

      var newDish = {
        dish: $("#name").val().trim(),
        image: $("#image-url").val().trim(),
        PlaceId: $("#place-id").val().trim(),
      };
      console.log(newDish);
      // Send ajax request for new restaurants
      $.ajax("/RedPill/dish", {
        type: "POST",
        data: newDish
      }).then(function () {
        console.log("You just added a new dish to this place");
        // Clear the form when submitting
        $("#name").val("");
        $("#image-url").val("");
        $("#place-id").val("");
      });
    });

  </script>