.list-group-item {
  line-height: 2.5;
}

/* body {
  background-color: blue;
} */

body {
  background-image: url(/public/img/Back_Test.jpg);
}

.container {
  background-color: white;
  background-repeat: no-repeat;
  /* height: 100%; */
  width: 100%;
  opacity: 0.9;
}

body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/onepage_restaurant.jpg') ;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}