.list-group-item {
  line-height: 2.5;
}

.header {
  text-align: center;
  font-family: "Raleway" sans-serif;
  font-size: 40px;
}

#mapid {
  position: fixed;
  z-index: 100 !important;
  height: 20%;
  width: 100%;
  align-self: center;
}
body, html {
  font-family: "Raleway" sans-serif;
}

.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  width: 50% !important  ;
}

.card-stacked {
  margin-left: -25%;
}

.muySalsaText {
  position: fixed;
  z-index: 101 !important;
  right: 2rem;
  /* color: rgb(255, 255, 255) */
  color: blueviolet; 
}
.placeText {
  position: fixed;
  z-index: 101 !important;
  left: 2rem;
  color: rgb(205, 218, 162) 
}

.container {
  padding-top: 130px !important 
}

.card-body {
  margin-left: 2%;
  margin-right: 2%;
}

.btn {
  background-color: #ffab40 !important;
}
.barato {
  background: lightblue;
}

.moderado {
  background: lightgreen;
  }

.caro {
  background: lightcoral;
}


/* Media Queries */


@media screen and (max-width: 981px) {
  .container {
    padding-top: 320px !important 
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-top: 140px !important 
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-top: 130px !important 
  }
}